.container-fluid {
  margin-top: 1vh;
  text-align: center;

  .no-indicators {
    width: 100%;
    img {
      width: 100%;
      max-height: 75vh;
      -o-object-fit: cover;
      object-fit: cover;
    }
    &:focus {
      outline-width: 0;
    }
  }
  &:focus {
    outline-width: 0;
  }
}
::ng-deep {
  .carousel-item {
    -webkit-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    transition: opacity 3s ease-in-out;
    position: absolute;
    display: block;
    opacity: 0;
  }

  .carousel-item.active {
    position: relative;
    opacity: 1;
  }
}

@media only screen and (max-width: 920px) {
  .container-fluid {
    .no-indicators {
      img {
        max-height: 60vh;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .container-fluid {
    .no-indicators {
      img {
        max-height: 50vh;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .container-fluid {
    width: 100%;
    .no-indicators {
      img {
        height: 48vw;
        max-height: 48vw;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }
}
