<div id="footer">
    <hr>
    <h6> &nbsp;Forte Gallery | 39 Shabazi st. Tel Aviv </h6>
    <div id="logos"> <a target="_blank" href="https://www.facebook.com/Fortegallerytlv/"> <img
                manifest="./assets/logo/facebookLogo.WebP"
                src="./assets/logo/facebookLogo.WebP" alt="Fortegallerytlv"> </a> <a target="_blank"
            href="https://www.instagram.com/forte_gallery/"> 
            <img src="./assets/logo/instagramLogo.WebP" manifest="./assets/logo/instagramLogo.WebP"
                alt="forte_gallery"> </a> </div>
</div>